.list-girl{
   
    margin-top: 20px;
    border-radius: 30%;
    
}

.list-item{
    font-size: 20px;
    margin: 0 auto;
    color: blue;
    background-color: antiquewhite;
    width: 50%;
    border: 1px solid black;
}

.list-item:hover{
    background-color: aliceblue;
}

.control-button{
    margin-left: 10px;
    margin-right: 0px;
}
.btn-custom{
    margin: 5px;
    border: 1px solid gray;
    border-radius: 10%;
    background: #04AA6D;
    cursor: pointer;
}

.btn-custom:hover{
    background: #45a049;
}
